= content_tag 'div', class: 'implementation', id: 'implementation-' + implementation.id.to_s, data: {implementation: implementation, usecase: implementation.usecase, library: implementation.library} do
  .controls-wrapper.btn-group-vertical.btn-group-sm
    %button#redraw.btn.btn-default{title: 'Redraw the visualization to apply changes', data: {toggle: 'tooltip', placement: 'right', container: 'body'}}
      %span.glyphicon.glyphicon-pencil
    %button#reset.btn.btn-default{title: 'Reset the visualization to the initial state', data: {toggle: 'tooltip', placement: 'right', container: 'body'}}
      %span.glyphicon.glyphicon-trash
  .vis-wrapper
    %iframe{id: 'frame-' + implementation.id.to_s, src: frame_path(usecase, implementation), sandbox: 'allow-scripts allow-same-origin'}
  %hr/
  .code-wrapper