%header
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "main-navbar"}}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "Brand", root_path, class: "navbar-brand"

      .collapse.navbar-collapse#main-navbar
        %ul.nav.navbar-nav
          %li
            = link_to "Home", page_path('home') , class: "active"
          %li 
            = link_to "About", page_path('about')
          %li
            = link_to "Usecases", usecases_path