%tr
  %td= link_to impl.scenario.name, compare_scenario_path(impl.scenario, ids: [impl.id])
  %td= impl.scenario.visualization_tasks.collect{|t| t.name}.join(", ").html_safe
  %td= impl.scenario.data_types.collect{|t| t.name}.join(", ").html_safe