.col-sm-4.col-md-3.search-tile
  .thumbnail.library-thumb{data: {name: lib.transliterate_name}}
    .img-placeholder
      = lib.image
    .caption
      %h3= lib.name
      %div= lib.short
    .badges
      = lib.implementations_badge