.btn-rounded {
  border-radius: 50%;
}

#toggle-pause {
  span {
    @extend .glyphicon-play;
    color: $brand-info;
  }

  &.active {
    span {
      @extend .glyphicon-pause;
      color: $brand-danger;
    }
  }
}

.btn-icon {
  background-color: transparent;
  color: #fff;

  &:hover, &:focus {
    background-color: transparent;
    color: $brand-info;
  }
}

.btn-label {
  @extend .btn;
  @extend .btn-default;
  
  background-color: inherit;
  color: #fff;

  &:hover {
    cursor: auto;
    background-color: inherit;
    color: #fff;
  }
}