.btn-rounded {
  border-radius: 50%;
}

.btn-icon, .btn-icon:focus{
  background-color: transparent;
  color: #fff;

  &:hover, , &.active {
    background-color: transparent;
    color: $brand-info;
  }
}

.btn-label {
  @extend .btn;
  @extend .btn-default;
  
  background-color: inherit;
  color: #fff;

  &:hover {
    cursor: auto;
    background-color: inherit;
    color: #fff;
  }
}