body[data-controller=libraries][data-action=index] {
  
  .library-thumb {    
    height: 240px;
  }


  .library-container {

    .versions {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: 30%;
        white-space: nowrap;
        display: inline-block;
        color: lighten($gray-light, 30%);
        
        span {
          padding: 0 5px 0 10px;
        }
        
        &:first-child span {
          padding-left: 0;
        }

        &:hover {
          color: $brand-dark;
        }
      }
    }
  }
}