%h1.page-header Tools & libraries
%p.lead This is a list of libraries and tools for data visualisation for the web. Some of them focus on charting, some on particular visualizations and others are complete web graphing tools capable of more complex visualization. Feel free to submit more tools you know!

.form-group.form-inline
  .input-group
    %input.form-control#search-query{type: 'text', placeholder: 'search...'}
    %span.input-group-btn
      %button.btn.btn-default{type:"button", onclick: "$('#search-query').val('').trigger('blur');"}
        x
  = link_to 'Add new Library', new_library_path, class: 'btn btn-default'
.vertical-spacer
#live-search.row
  - libraries.each do |lib|
    .col-sm-4.col-md-3.search-tile{id: lib.transliterate_name}
      = link_to lib, class: 'link-thumb' do
        .thumbnail.library-thumb
          - if !lib.image_url.nil? 
            %img{src: lib.image_url}
          .caption
            %h3= lib.name
            %div= lib.short
%br/