- content_for :title do
  = "Visualization Libraries"
.row
  .col-md-7.col-md-offset-1
    %h1.page-header Visualization Libraries
    %p.lead This is a list of JavaScript visualization libraries. Some of them focus on charting, some on particular visualizations and others are complete web graphing tools, capable of more complex visualizations.
.row
  .col-md-7.col-md-offset-1
    %hr/
    #thumb-container.row
      = render partial: 'libraries/partials/library_thumb', collection: libraries_rep, as: :lib
  .col-md-4.affix-details#affix
    = render partial: 'shared/live_search_field'
    = render partial: 'libraries/partials/library', collection: libraries_rep, as: :lib
      
%br/