- content_for :style do
  = stylesheet_link_tag asset_path( implementation.stylesheet.url )
  :css
    html, body, #vis {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    }
  %style#styles

#vis
= javascript_include_tag asset_path( scenario.javascript.url )
= javascript_include_tag asset_path( implementation.javascript.url )