.col-sm-4.col-md-3.search-tile
  .thumbnail.vis-type-thumb{data: {name: type.transliterate_name}}

    .img-placeholder
      = type.image
    .caption
      %h3= type.name
    .badges
      = type.scenarios_badge
      = type.implementations_badge