- content_for :title do
  Scenarios

%h1.page-header Scenarios

.row
  - scenarios.each do |scenario|
    .col-sm-4.col-md-3
      = link_to compare_scenario_path(scenario), class: 'link-thumb' do
        .thumbnail.scenario-thumb
          .caption
            %h3= scenario.name
            %p= scenario.short
          .badges
            = scenario.decorate.hash_tags

  -# .col-sm-4.col-md-3
  -#   = link_to new_scenario_path, class: 'link-thumb', title: 'Add a new scenario' do
  -#     .thumbnail.add-item-thumb
  -#       .plus
  -#         %div
  -#         %div