%h1.page-header Listing usecases

= link_to "Create new usecase", new_usecase_path, class: 'btn btn-default' 
%table
  %thead
    %tr
      %th
      %th
      %th
      
  %tbody
    - @usecases.each do |usecase|
      %tr
        %td= link_to 'Show', usecase

%br